body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ff5f40;
  color: #0a4644;
}

#phaser {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

#logo {
  padding: 40px 10px;
  transition: 0.2s;
}